<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 18c" stopProcessing="true">
          <match url="^adminpanel/(.*)$" />
          <action type="Rewrite" url="/adminpanel/{R:1}" />
        </rule>
        <rule name="rule 1m" stopProcessing="true">
          <match url="^ajax/(.*)/(.*)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;type=ajax&amp;katurl={R:2}" />
        </rule>
        <rule name="rule 2m" stopProcessing="true">
          <match url="^ajax/(.*)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;type=ajax" />
        </rule>
        <rule name="rule 3m" stopProcessing="true">
          <match url="^en/(.*)/(.*)-([0-9]+)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;lang=en" />
        </rule>
        <rule name="rule 4m" stopProcessing="true">
          <match url="^en/(.*).html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;lang=en" />
        </rule>
        <rule name="rule 5m" stopProcessing="true">
          <match url="^en/(.*)/(.*)-([0-9]+)\.html/([0-9]+)$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;lang=en&amp;sayfa={R:4}" />
        </rule>
        <rule name="rule 6m" stopProcessing="true">
          <match url="^en/(.*).html/([0-9]+)$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;lang=en&amp;sayfa={R:2}" />
        </rule>
        <rule name="rule 7m" stopProcessing="true">
          <match url="^en/user/(.*)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page=user&amp;type={R:1}&amp;lang=en" />
        </rule>
        <rule name="rule 8m" stopProcessing="true">
          <match url="^e-katalog.html/([0-9]+)$" />
          <action type="Rewrite" url="/index.php?page=e-katalog&amp;lang=tr&amp;type=katalog&amp;id={R:1}" />
        </rule>
        <rule name="rule 9m" stopProcessing="true">
          <match url="^etiket/(.*)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page=etiket&amp;value={R:1}" />
        </rule>
        <rule name="rule 10m" stopProcessing="true">
          <match url="^(.*)/(.*)/(.*)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;urunurl={R:3}&amp;lang=tr" />
        </rule>
        <rule name="rule 11m" stopProcessing="true">
          <match url="^(.*)/(.*)-([0-9]+)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;lang=tr" />
        </rule>
        <rule name="rule 12m" stopProcessing="true">
          <match url="^(.*)/(.*)-([0-9]+)\.html$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;lang=tr" />
        </rule>
        <rule name="rule 13m" stopProcessing="true">
          <match url="^(.*)/(.*)\.html$" />
          <action type="Rewrite" url="/index.php?page={R:2}&amp;lang={R:1}" />
        </rule>
        <rule name="rule 14m" stopProcessing="true">
          <match url="^(.*)\.html$" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;lang=tr" />
        </rule>
        <rule name="rule 15m" stopProcessing="true">
          <match url="^(.*)/(.*)-([0-9]+)\.html/([0-9]+)$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;lang=tr&amp;sayfa={R:4}" />
        </rule>
        <rule name="rule 16m" stopProcessing="true">
          <match url="^(.*)/(.*)-([0-9]+)\.html/([0-9]+)$" ignoreCase="true" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;katurl={R:2}&amp;id={R:3}&amp;sayfa={R:4}" />
        </rule>
        <rule name="rule 17m" stopProcessing="true">
          <match url="^(.*)\.html/([0-9]+)$" />
          <action type="Rewrite" url="/index.php?page={R:1}&amp;lang=tr&amp;sayfa={R:2}" />
        </rule>
        <rule name="rule 18m" stopProcessing="true">
          <match url="^upload/(.*)$" />
          <action type="Rewrite" url="/upload/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\sams-food.com\tmp" />
  </system.web>
</configuration>